body{
    background: #000;
    font-family: Arial, sans-serif;
}
.container{
    width: 1440px;
    height: 3818px;
    background: #FFF;
    margin: 0 aut
}
header{
    width: 1380px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
}