@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    background: #000;
}
.container {
    width: 1440px;
    height: 3818px;
    background: #fff;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding-left: 30px;
}

.img-1 {
    /* margin-top: 34px;
    margin-left: 60px;
    display: block;
    width: 148px;
    height: 30px; */
    gap: 8px;
    display: flex;
    justify-content: space-between;
    margin-right: 94px;
}
/* .nav{
    margin-top: 42px;
    margin-left: 70px;
    display: flex;
    gap: 49px;
    width: 100%;
    font-size: 13px;
    font-family: Poppins;

} */

.nav {
    display: flex;
    gap: 60px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.button {
    display: flex;
    gap: 121px;
    font-size: 13px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 520px;
}

.button-2 {
    width: 160px;
    height: 100px;
    background: rgba(245, 242, 236, 1);
    border-radius: 0 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    width: 1360px;
    height: 900px;
    background: #ad9595;
}

.title{
    position: relative;
    width: 498px;
    height: 302px;
    background: #756565;
    z-index: 1;
}
.email-box{
    position: relative;
    width: 692px;
    height: 123px;
    background: #b8add3;
    z-index: 1;
}

.photos{
    position: absolute;
    width: 1220px;
    height: 892px;
    background: #d8b8d8;
    top: 0;
    right: 0;
}
